scikit-image    # installs pillow, numpy, scipy
seaborn         # installs pandas, matplotlib
geopandas       # installs shapely
requests        # installs urllib3
rasterio
shapelysmooth
tqdm            # for progress bars